abydos==0.5.0
adb-shell==0.4.0
aiodns==3.0.0
aiohttp==3.7.4
aiohttp-socks==0.5.5
alabaster==0.7.12
anki @ file:///home/juliustn/.cache/yay/anki/src/anki/dist/anki-2.1.35%2B84dcaa86-py3-none-any.whl
ankirspy @ file:///home/juliustn/.cache/yay/anki/src/anki/dist/ankirspy-2.1.35%2B84dcaa86-cp39-cp39-linux_x86_64.whl
anyio==3.3.2
AnyQt==0.0.13
anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
aqt @ file:///home/juliustn/.cache/yay/anki/src/anki/dist/aqt-2.1.35%2B84dcaa86-py3-none-any.whl
arabic-reshaper==2.1.1
argcomplete==1.12.3
argh==0.26.2
argon2-cffi==21.1.0
arrow==1.1.1
asn1crypto==1.4.0
astroid==2.8.2
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
baycomp==1.0.2
bcrypt==3.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
biplist==1.0.3
black==21.8b0
bleach==4.1.0
Bottleneck==1.3.2
Brlapi==0.8.3
bs4==0.0.1
btrfsutil==5.14.2
CacheControl==0.12.6
cachetools==4.2.3
caffeine-ng==3.5.1.post27+g1e5febf.d20210919
cattrs==1.8.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
colorama==0.4.4
coloredlogs==14.3
commonmark==0.9.1
configparser==5.0.2
contextlib2==0.6.0.post1
cookiecutter==1.7.3
crayons==0.4.0
cryptography==3.4.8
cupshelpers==1.0
cvxopt==1.2.7
cycler==0.10.0
cypari2==2.1.2
cysignals==1.10.3
Cython==0.29.24
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
dictdiffer==0.9.0
diff-match-patch==20200713
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
dulwich==0.20.25
duplicity==0.8.20
entrypoints==0.3
et-xmlfile==1.1.0
evdev==1.4.0
ewmh==0.1.6
fasteners==0.16
fastimport==0.9.14
Fiona==1.8.20
flake8==3.9.2
Flask==2.0.2
Flask-Cors==3.0.10
fpylll==0.5.6
fs==2.4.12
future==0.18.2
future-annotations==1.0.0
Genesis-PyAPI==1.2.1
gensim==4.1.0
geopandas==0.9.0
gmpy2==2.1.0rc1
google-api-core==2.1.0
google-api-python-client==2.24.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
grub2-theme-preview==2.3.0
gufw==21.4.0
h11==0.12.0
helpdev==0.7.1
html5lib==1.1
httpcore==0.12.3
httplib2==0.19.1
httpx==0.16.1
humanfriendly==9.1
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.1
inflection==0.5.1
instaloader==4.7.1
instalooter==2.4.4
intervaltree==3.1.0
iOSbackup==0.9.912
ipykernel==6.4.2
ipython==7.29.0
ipython_genutils==0.2.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.0
jeepney==0.7.1
jellyfish==0.8.8
Jinja2==3.0.2
jinja2-time==0.2.0
joblib==1.0.1
jsonschema==4.1.2
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-tabnine==1.1.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaggle==1.5.12
kaggle-environments==1.8.10
keyring==23.0.1
keyrings.alt==4.0.2
kiwisolver==1.3.1
layoutswitcherlib==0.8.22
lazy-object-proxy==1.6.0
lensfun==0.3.95
LibAppArmor==3.0.3
libfdt==1.6.1
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
libusb1==1.9.3
libvirt-python==7.8.0
lit==0.11.1.dev0
llvmlite==0.37.0
lockfile==0.12.2
louis==3.19.0
lrcalc==2.0.0
lutris==0.5.8.4
lxml==4.6.3
maigret==0.3.0
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mccabe==0.6.1
memory-allocator==0.1.1
missingno==0.5.0
mistune==0.8.4
mock==4.0.2
monotonic==1.6
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==5.1.0
munch==2.5.0
mvt==1.0.17
mypy==0.910
mypy-extensions==0.4.3
mypy-protobuf==2.9
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
ndf==0.1.4
nest-asyncio==1.5.1
netsnmp-python==1.0a1
networkx==2.6.3
notebook==6.4.5
npyscreen==4.10.5
numba==0.54.0
numpy==1.21.3
numpydoc==1.1.0
oauth2client==4.1.3
openpyxl==3.0.9
openshot-qt==2.6.1
openTSNE==0.6.0
orange-canvas-core==0.1.22
orange-widget-base==4.13.1
Orange3==3.29.3
Orange3-Associate==1.1.8
Orange3-Bioinformatics==4.4.0
Orange3-Educational==0.4.0
Orange3-Explain==0.4.2
Orange3-Geo==0.3.0
Orange3-ImageAnalytics==0.6.0
Orange3-Network==1.6.0
Orange3-Prototypes==0.14.2
ordered-set==4.0.2
orjson @ file:///build/python-orjson/src/python-orjson-3.6.4/target/wheels/orjson-3.6.4-cp39-cp39-linux_x86_64.whl
outcome==1.1.0
packaging==21.2
pacman-mirrors==4.21.5
pandas==1.3.4
pandocfilters==1.5.0
paramiko==2.7.2
parso==0.8.2
pathspec==0.9.0
pathtools==0.1.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pipx==0.16.4
platformdirs==2.0.2
plotly==5.2.1
pluggy==0.13.1
ply==3.11
point-annotator==2.0.0
poyo==0.5.0
pplpy==0.8.7
progress==1.5
prometheus-client==0.12.0
prompt-toolkit==3.0.21
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.9.1
ptyprocess==0.7.0
pulsectl==21.9.1
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.8.0
pycairo==1.20.1
pycares==4.0.0
pyclipper==1.3.0
pycodestyle==2.7.0
pycountry==20.7.3
pycparser==2.20
pycryptodomex==3.10.1
pycups==2.0.1
pycurl==7.44.1
pydocstyle==6.1.1
PyDrive==1.3.1
pyflakes==2.3.1
Pygments==2.10.0
PyGObject==3.40.1
pylint==2.11.1
pyls-black==0.4.6
pyls-spyder==0.3.2
PyNaCl==1.4.0
pynvim==0.4.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==3.2.1
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyqtgraph==0.11.1
PyQtWebEngine==5.15.4
pyreadline==2.1
pyrsistent==0.18.0
pysmbc==1.0.23
PySocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-Levenshtein==0.12.2
python-louvain==0.15
python-slugify==5.0.2
python-socks==1.1.2
python-xlib==0.31
pytoml==0.1.21
pytz==2021.3
pyxDamerauLevenshtein==1.7.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
qasync==0.20.0
QDarkStyle==3.0.2
qstylizer==0.2.0
QtAwesome==1.0.2
qtconsole==5.1.1
QtPy==1.11.2
ranger-fm==1.9.3
regex==2021.8.28
reportlab==3.6.1
requests==2.26.0
requests-cache==0.8.0
requests-futures==1.0.0
resdk==13.4.0
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.5.0
rich==10.7.0
rope==0.20.1
rpy2==3.4.5
rsa==4.7.2
sagemath-standard==9.4
scikit-learn==1.0
scipy==1.7.1
seaborn==0.11.2
SecretStorage==3.3.1
selenium==4.0.0
Send2Trash==1.8.0
serverfiles==0.3.1
setproctitle==1.2.2
shap==0.37.0
Shapely==1.7.1
simplejson==3.17.5
sip==4.19.25
six==1.16.0
slicer==0.0.3
slumber==0.7.1
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.1.0
socid-extractor==0.0.22
sortedcontainers==2.4.0
soupsieve==2.1
speedtest-cli==2.1.3
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.0.1
spyder-kernels==2.0.1
srt==3.4.1
stem==1.8.0
sympy==1.9
team==1.0
tenacity==6.3.1
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
threadpoolctl==2.2.0
three-merge==0.1.1
tinycss2==1.1.0
tld==0.12.6
tokenize-rt==4.1.0
toml==0.10.2
tomli==1.2.1
tornado==6.1
torrequest==0.1.0
tqdm==4.55.0
traitlets==5.1.1
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.3
typing-extensions==3.7.4.3
tzlocal==2.1
ueberzug==18.1.9
ufw==0.36
ujson==4.2.0
uritemplate==3.0.1
url-normalize==1.4.3
urllib3==1.26.6
userpath==1.7.0
verboselogs==1.7
vosk==0.3.30
waitress==2.0.0
watchdog==0.10.7
wcwidth==0.2.5
webdriver-manager==3.5.1
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.12.1
wsproto==1.0.0
wurlitzer==2.1.1
wxPython==4.0.7.post2
xhtml2pdf==0.2.5
xlrd==2.0.1
XlsxWriter==3.0.1
XMind==1.2.0
yapf==0.31.0
yarl==1.6.3
youtube-dl==2021.4.17
zipp==3.6.0
